

.bg_container
{
  overflow-x: hidden;
  height: 300vh;
  width: 100%;
  position: absolute;
  background-color: black;
}

.bg
{
  height: 100vh;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

#navbar
{
  z-index: 100;
  transition: top 0.5s;
  position: fixed;

  float: left;
  width: 100%;
  top: -60px;
  left: 0;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li
{
  float: left;
  margin-bottom: 0;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.mainCont_Wrapper {
    position: relative;
    top: 20vh;
    margin: 3% 15%;
}

.mainCont
{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  max-width: 500px;
  color: white;
}

.mainCont h2
{
  font-size: 60px;
  font-weight: bold;
}

.mainCont p
{
  font-size: 25px;
}


ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

.hidden
{
  display: none !important;
}

.show
{
  display: block;
}

.arrow.down
{
  position: absolute;
  width: 50px;
  height: 50px;
  background: url("/assets/images/arr_down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: calc(100vh - 80px);
  left: calc(50vw - 30px);
}

.arrow.up
{
  position: fixed;
  width: 50px;
  height: 50px;
  background: url("/assets/images/arr_up.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: calc(100vh - 80px);
  left: calc(100vw - 100px);
}
